<html>
{% load static %}
{% load render_bundle from webpack_loader %}
<head>
  <title>Mobili.Watch</title>
  {% render_bundle 'main' 'css' %}

  <meta id="csrf" name="csrf" content="{{ csrf_token }}">
  <meta name="version" content="{{ VERSION }}">
</head>

<body>
  <nav class="nav" id="top">
    <div class="nav-left">
      <a class="nav-item is-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo_small.png' %}" alt="Logo" title="Version {{ VERSION }}"/>
        <p>
          <span class="project">{{ _('Mobili.Watch') }}</span>
          <span class="baseline">{{ _('Baseline...') }}</span>
        </p>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">

      {% if user.is_authenticated %}
      <span class="nav-item">
        {{ _('Hello') }} {{ user.first_name }}
      </span>
      <span class="nav-item">
        <a class="button is-info is-outlined" href="{% url 'help-home' %}">
          <span class="icon is-small">
            <i class="fa fa-question-circle"></i>
          </span>
          <span>{{ _('Help') }}</span>
        </a>
        <a class="button is-danger is-outlined" href="{% url 'logout' %}">
          <span>{{ _('Logout') }}</span>
          <span class="icon is-small">
            <i class="fa fa-sign-out"></i>
          </span>
        </a>
      </span>

      {% else %}
      <span class="nav-item">
        <a class="button is-outlined" href="{% url 'signup' %}">
          <span class="icon is-small">
            <i class="fa fa-user-plus"></i>
          </span>
          <span>{{ _('Signup') }}</span>
        </a>
        <a class="button is-success is-outlined" href="{% url 'login' %}">
          <span class="icon is-small">
            <i class="fa fa-sign-in"></i>
          </span>
          <span>{{ _('Login') }}</span>
        </a>
      </span>
      {% endif %}

    </div>
  </nav>

  {% block fullcontent %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
  {% endblock %}

  {% render_bundle 'main' 'js' %}
	{% block js %}{% endblock %}

</body>
</html>
