<html>
{% load static %}
<head>
  <title>Mobili.Watch</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootswatch-dist/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'leaflet/dist/leaflet.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobili.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Leaflet.extra-markers/dist/css/leaflet.extra-markers.min.css' %}">
</head>

<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home' %}">Mobili.Watch</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<!--
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				-->
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li><span class="navbar-text">Hello {{ user.first_name }}</span></li>
					<li>
						<a href="{% url 'logout' %}">
							Logout
						</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'signup' %}">
							Signup
						</a>
					</li>
					<li>
						<a href="{% url 'login' %}">
							Login
						</a>
					</li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>


	<div class="container">
		{% block content %}{% endblock %}
	</div>


	<script type="text/javascript" src="{% static 'vue/dist/vue.js' %}"></script>
	<script type="text/javascript" src="{% static 'vue-resource/dist/vue-resource.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/transports.js' %}"></script>
  <script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'Leaflet.extra-markers/dist/js/leaflet.extra-markers.min.js' %}"></script>

	{% block js %}{% endblock %}

</body>
</html>
