{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>Vos Lieux</h1>
<a href="{% url 'location-create' %}" class="btn btn-info">
  Ajouter un lieu
</a>

<div class="row">
  {% for location in user.locations.all %}
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">{{ location.name }}</div>
      <div class="panel-body">
        {{ location.address }} - {{ location.city }}

        <ul>
          {% for ls in location.line_stops.all %}
          <li>
            {{ ls.line.mode }} {{ ls.line.name }} vers {{ ls.direction.name }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="panel-footer text-right">
        <a href="{% url 'location-transports' location.pk %}" class="btn btn-primary">
          Transports
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<h1>Vos écrans</h1>
<a href="{% url 'screen-create' %}" class="btn btn-info">
  Ajouter un écran
</a>
<div class="row">
  {% for screen in user.screens.all %}
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">{{ screen.name }}</div>
      <div class="panel-body">
        ...
      </div>
      <div class="panel-footer text-right">
        <a href="{% url 'screen' screen.slug %}" class="btn btn-primary">
          Editer
        </a>
        <a href="{{ screen.frontend_url }}" class="btn btn-success" target="_blank">
          Voir
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% else %}
<p class="alert alert-info">
  Please login or signup.
</p>
{% endif %}

{% endblock %}
