{% extends 'base.html' %}
{% load staticfiles %}

{% block fullcontent %}
<div id="welcome">
  <a class="ribbon" target="_blank" href="{% url 'help' 'mobiliplay' %}">Lauréat Concours MobiliPlay !</a>

  <section id="image" class="hero is-large">
    <h1>{{ _('Tired of waiting for the bus at Grenoble ?') }}</h1>
  </section>

  <section id="actions" class="hero is-medium is-dark">
    <div class="hero-body">
      <div class="container">
        <div class="columns">

          <div class="column is-3">
            <img src="{% static 'img/logo.png' %}" alt="Logo mobili.watch" />
          </div>
          <div class="column is-9">
            <h1 class="title">
              {{ _('Welcome on Mobili.Watch !') }}
            </h1>
            <h2 class="subtitle">
               {{ _('Baseline...') }}
            </h2>
            <a class="button is-large is-light is-outlined" href="{% url 'signup' %}">
              <span class="icon is-medium">
                <i class="fa fa-user-plus"></i>
              </span>
              <span>{{ _('Signup') }}</span>
            </a>
            <a class="button is-large is-success is-outlined" href="{% url 'login' %}">
              <span class="icon is-medium">
                <i class="fa fa-sign-in"></i>
              </span>
              <span>{{ _('Login') }}</span>
            </a>
            {% if demo_url %}
            <a class="button is-large is-primary is-outlined" href="{{ demo_url }}" target="_blank">
              <span class="icon is-medium">
                <i class="fa fa-bus"></i>
              </span>
              <span>{{ _('Try our demo') }}</span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="steps" class="hero is-medium">
    <div class="hero-body container">
      <div class="columns">
        <div class="column is-4">
          <div class="step">
            <figure class="image is-128x128">
              <img src="{% static 'img/home_step_1.png' %}" alt="">
            </figure>
          </div>
          <h3 class="title">1. Je sélectionne les lignes qui m'intéressent</h3>
          <p class="subtitle">
Attrapez votre bus au bon moment ! Grâce aux données temps réel Itinisère, Mobili.Watch calcule le temps qu'il vous reste avant de partir de la maison ou du bureau pour arriver pile au moment où votre bus ou le tram passe à votre arrêt favoris. 
          </p>
        </div>
        <div class="column is-4">
          <div class="step">
            <figure class="image is-128x128">
              <img src="{% static 'img/home_step_2.png' %}" alt="">
            </figure>
          </div>
          <h3 class="title">2. Je crée mon tableau des départs</h3>
          <p class="subtitle">
Domicile, travail, lieux publics : créez l'affichage personnalisé de vos modes de transports. Un écran pour chacun de vos besoins : sur une tablette à la maison, sur un écran au bureau ou dans un espace public.
          </p>
        </div>
        <div class="column is-4">
          <div class="step">
            <figure class="image is-128x128">
              <img src="{% static 'img/home_step_3.png' %}" alt="">
            </figure>
          </div>
          <h3 class="title">3. J'attends tranquillement le moment de partir</h3>
          <p class="subtitle">
Mobili.Watch permet de suivre en direct les déplacements des transports en
commun en Isère et vous propose des informations contextuelles pour créer
le tableau de bord de vos déplacements : interruptions de services ou incidents, météo, niveau de pollution...
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="hero is-medium">
    <div class="hero-body container">
      <div class="columns has-text-centered is-multiline">

        <div class="column is-12">
          <h2 class="title">Interfaces intuitives et ergonomiques</h2>
        </div>

        <div class="column is-6">
          <img src="{% static 'img/home_demo.jpg' %}" alt="Demo" />
        </div>

        <div class="column is-6">
          <img src="{% static 'img/home_editor.jpg' %}" alt="Demo" />
        </div>

        <div class="column is-6 is-offset-3">
          <img src="{% static 'img/home_front.jpg' %}" alt="Demo" />
        </div>

      </div>
    </div>
  </section>

  <section id="team" class="hero is-medium is-dark">
    <div class="hero-body container">
      <div class="columns has-text-centered is-multiline">
        
        <div class="column is-12">
          <h2 class="title">Conçu à Grenoble pour le concours Mobili'Play</h2>
          <h3 class="subtitle">
            <span class="tag is-success">NEW!</span> Nous sommes <a href="{% url 'help' 'mobiliplay' %}">lauréats du concours</a> !
          </h3>
        </div>
        <div class="column is-4 is-offset-2">
          <figure class="image is-square">
            <img src="{% static 'img/bastien.jpg' %}" alt="Bastien Abadie">
          </figure>
          <h4 class="title">Bastien Abadie</h4>
          <p>
            <a href="https://github.com/La0" title="Github" target="_blank">
              <span class="icon is-medium">
                <span class="fa fa-github"></span>
              </span>
            </a>
            <a href="https://twitter.com/La0" title="Twitter" target="_blank">
              <span class="icon is-medium">
                <span class="fa fa-twitter"></span>
              </span>
            </a>
            <a href="https://nextcairn.com" title="NextCairn" target="_blank">
              <span class="icon is-medium">
                <span class="fa fa-user"></span>
              </span>
            </a>
          </p>
        </div>
        <div class="column is-4">
          <figure class="image is-square">
            <img src="{% static 'img/laurent.jpg' %}" alt="Laurent Ducerf">
          </figure>
          <h4 class="title">Laurent Ducerf</h4>
          <p>
            <a href="https://twitter.com/laurentducerf" title="Twitter" target="_blank">
              <span class="icon is-medium">
                <span class="fa fa-twitter"></span>
              </span>
            </a>
            <a href="http://scienticulture.fr/" title="ScientiCulture" target="_blank">
              <span class="icon is-medium">
                <span class="fa fa-user"></span>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="has-text-centered is-dark">
  <p>
    Projet réalisé pour le concours <a href="http://www.mobiliplay.fr/">Mobili'Play</a>
  </p>
  <p class="is-muted">&bull;</p>
  <p>
    Made with <span title="Love" class="icon is-small"><i class="fa fa-heart"></i></span> & <span title="Fire" class="icon is-small"><i class="fa fa-fire"></i></span>
  </p>
  <p class="is-muted">&bull;</p>
  <a href="{% url 'help' 'credits' %}">
      Crédits
    </a>
  </footer>

{% endblock %}
