{% extends 'base.html' %}

{% load bulma_forms %}

{% block content %}
<form method="post" action="">
  <h3 class="title">{{ _('Signup') }}</h3>
  {% csrf_token %}

  {% form_errors form %}
  {% form_input form.first_name 'user' %}
  {% form_input form.last_name 'user' %}
  {% form_input form.email 'envelope' %}
  {% form_input form.password1 'lock' %}
  {% form_input form.password2 'lock' %}

  <hr />
  <p class="control">
    <button class="button is-success" type="submit">
      {{ _('Signup') }}
    </button>
  </p>
</form>

{% endblock %}
