nav#top {
  margin-bottom: 20px;
}

h1.title span.icon {
  margin-top: 4px;
}

p.line {
  margin-bottom: 6px;
}

/* Font */
@font-face {
  font-family: 'Esphimere';
  font-weight: bold;
  src: url("../fonts/EsphimereBold.otf") format("opentype"),
       url("../fonts/EsphimereBold.ttf") format("truetype");
}

/* Nav branding */
nav#top a.is-brand {
  padding: 0;
}

nav#top a.is-brand span {
  font-family: Esphimere;
  font-weight: bold;
}

nav#top a.is-brand img {
  margin-left: 4px;
  max-height: 50px;
}

nav#top a.is-brand p {
  height: 60px;
  margin-left: 10px;
  text-align: left;
}
nav#top a.is-brand span {
  display: block;
  vertical-align: middle;
}

nav#top a.is-brand span.project {
  font-size: 1.6em;
  height: 38px;
  line-height: 38px;
}
nav#top a.is-brand span.baseline {
  font-size: 1.2em;
  height: 22px;
  line-height: 22px;
}

/* Home hero */
section.hero div.welcome {
  padding-top: 70px;
}
