{% extends 'base.html' %}

{% load bulma_forms %}

{% block content %}

<form method="post" action="">

  <h3 class="title">{{ _('Add a screen ') }}</h3>
  {% csrf_token %}

  {% form_errors form %}
  {% form_input form.name 'desktop' %}
  {% form_select form.screen_template %}
  {% form_select form.location %}

  <hr />
  <p class="control">
    <button class="button is-success" type="submit">
      {{ _('Add a screen') }}
    </button>
    <a class="button" href="{% url 'home' %}">
      {{ _('Cancel') }}
    </a>
  </p>
</form>

{% endblock %}
