{% extends 'base.html' %}

{% load bulma_forms %}

{% block content %}

<form method="post" action="">
  <h3 class="title">{{ _('Add a location') }}</h3>
  {% csrf_token %}

  {% form_errors form %}
  {% form_input form.name 'globe' %}
  {% form_input form.address 'address-card' %}
  {% form_select form.city %}

  <hr />
  <p class="control">
    <button class="button is-success" type="submit">
      {{ _('Add a location') }}
    </button>
    <a class="button" href="{% url 'home' %}">
      {{ _('Cancel') }}
    </a>
  </p>
</form>

{% endblock %}
