<div class="columns">
  <div class="column">
    <h1 class="title">
      {{ _('Your screens') }}
    </h1>
    <h2 class="subtitle">
      {{ _('Manage all your screens to display informations') }}
    </h2>
  </div>
  <div class="column has-text-right">
    <a href="{% url 'screen-create' %}" class="button is-info is-medium">
      <span class="icon">
        <span class="fa fa-desktop"></span>
      </span>
      <span>{{ _('Add a screen') }}</span>
    </a>
  </div>
</div>

<div class="columns is-multiline">
  {% for screen in user.screens.all %}
  <div class="column is-one-third screen">
    <div class="box">
      <h5 class="title">
        {% if screen.is_template %}
        <span class="tag is-warning">
          <span class="icon is-small">
            <span class="fa fa-clone"></span>
          </span>
          <span>Template</span>
        </span>
        {% endif %}
        <a href="{{ screen.frontend_url }}" target="_blank">
          {{ screen.name }}
        </a>
      </h5>
      <div>
        <a href="{{ screen.frontend_url }}" target="_blank">
          <img src="{% url 'screen-preview' screen.slug %}" alt="Preview"/>
        </a>
      </div>
      <hr />
      <nav class="level">
        <div class="level-left">
          <a class="level-item" href="{% url 'screen' screen.slug %}">
            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
            <span>{{ _('Edit') }}</span>
          </a>
          <a class="level-item is-info" href="{{ screen.frontend_shared_url }}" target="_blank">
            <span class="icon is-small"><i class="fa fa-share"></i></span>
            <span>{{ _('Shared') }}</span>
          </a>
          {% if not screen.is_template %}
          <a class="level-item is-primary" href="{% url 'screen-delete' screen.slug %}">
            <span class="icon is-small"><i class="fa fa-trash"></i></span>
            <span>{{ _('Delete') }}</span>
          </a>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
  {% empty %}
  <div class="column is-12">
    <div class="notification is-info">
      <span class="icon">
        <span class="fa fa-question-circle"></span>
      </span>
      {{ _('You can create new screens to display notes, bus & tramway stops, ...') }}
    </div>
  </div>
  {% endfor %}
</div>
